body {
    background-color: #0b8d82;
    margin: 0;
    padding: 0;
}

.nav-item{
    background-color: rgb(4, 68, 68);
    margin: 5px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.navigationbar{
    background-color: rgb(5, 102, 102);
}
.navbar .nav-link {
    color: white !important;
}
.navbar {
    margin-top: 0 !important;
    border-top: 0 !important;
    box-shadow: none !important;
}

.content {
    min-height: 100vh;
}
